body {
	padding-top: 80px;
	height: 100%;
	background-color: #343a40 !important;
}

/* #logo { */

/* max-width: 100px;
} */

#logo>img {
	max-width: 170px;
}

td {
	border: 1px solid #79d9ce;
	width: 20px;
	height: 20px;
}

.key {
	border: 1px solid #79d9ce;
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

#myNavbar {
	background-color: black !important;
}

ul {
	list-style-type: none;
}

.btn-space {
	margin-right: 5px;
}

.btn-outline-warning {
	color: #FF675D !important;
	border-color: #FF675D !important;
}

.btn-outline-warning:hover {
	background-color: #FF675D !important;
	color: #212529 !important;
}

#update {
	margin-bottom: 15px;
	margin-top: 10px;
}

/* .modal-dialog .modal-content {
	background-color: #343a40;
	color: white;
} */

.wall {
	transition: background-color 0.1s ease-in-out;
	background-color: #262b28;
	border-color: #262b28;
}

.none {
	transition: background-color 0.1s ease-in-out;
	background-color: white;
	border-color: #79d9ce;
}

.searching {
	transition: background-color 0.08s ease-in-out;
	background-color: #1cd4b5;
	border-color: #1cd4b5;
}

.visited {
	transition: background-color 0.08s ease-in-out;
	background-color: #e89440;
	border-color: #e89440;
}

.success {
	transition: background-color 0.08s ease-in-out;
	background-color: #ffee31;
	border-color: #ffee31;
}

.start {
	background-color: green;
	border-color: green;
}

.end {
	background-color: red;
	border-color: red;
}

#bigTableContainer {
	margin-top: 30px;
}

table {
	background-color: white;
}

.custom-section {
	margin-bottom: 20px;
}

#modalTitleContainer {
	padding-top: 10px;
}

#results {
	height: 87px;
	width: 120px;
	background-color: #ffc107;
	position: fixed;
	right: 10px;
	bottom: 10px;
	color: white;
	font-size: 12px;
	text-align: center;
	border: 1px dashed black;
}

#resultsIcon {
	margin-bottom: 3px;
	margin-top: 7px;
	font-size: 16px;
}

#duration, #length {
	padding: 3px;
}

#infoModalBtn {
	margin-left: 20px;
}

.fun-fact {
	color: darkgreen;
}

.wall-sign {
	background-color: #343a40;
	color: white;
}

#sortingVisualizer a {
	text-decoration: none;
	color: #28a745;
}

#sortingVisualizer:hover a {
	text-decoration: none;
	color: #fff;
}